@model BookNormalCQRS.AddNewUser

@{
    ViewBag.Title = "Add New Book";
}

<h2>Add New Book</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <label>User Name</label>
        @Html.TextBoxFor(m => m.UserName)
        <label>User Email</label>
        @Html.TextBoxFor(m => m.UserEmail)
        <button type="submit" class="btn">Submit</button>
    </fieldset>
}
